/* universal  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Header area style */
header {
  background: rgba(255, 144, 14, 0.1);

  width: 100%;
  height: 1322px;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 210px;
}
nav h1 {
  color: #131313;
  padding-top: 50px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
  padding-top: 63px;
  padding-right: 40px;
}
/* banner area style */
.banner {
  display: flex;
  flex-direction: column;
}
.banner-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 160px;
}

.banner-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
  width: 865px;
  height: 52px;
  margin-left: 330px;
  margin-bottom: 32px;
}
.primary-btn {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  color: #ffffff;
  border: 0px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  height: 64px;
  margin-left: 625px;
  margin-bottom: 50px;
}
.banner-image {
  width: 1300px;
  padding-left: 73px;
  margin-bottom: 27px;
}
/* main section styles */

/* features style */

.container {
  display: flex;
  justify-content: space-between;
  margin: 50px 30px;
  gap: 40px;
  
}
.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 50%;
}
.features-explorer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.features-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 24px;
  margin-top: 20px;
}
.primary-btn-2 {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  color: #ffffff;
  border: 0px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
/* second features style */

.second-features{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    margin-top: 100px;
}
.features-list{
  margin-left: 100px;
}
.features-list-title{
  width: 400px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 8px solid #FF900E;
}
.features-list-title h1{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
.features-list-title p{
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  }
  .features-list-item{
    padding: 30px;
    box-shadow: 2px 2px 5px 5px rgb(21 21 21 / 8%);
    margin: 20px 0 30px;
    transition: all 0.5s ease-in;}

    .features-list-item h2{
      font-size: 20px;
      font-weight: 700;
      color: var(--dark-1);
      margin-bottom: 10px;
  }
  .features-list-item:hover{
    background-color: #08ff9c;
    box-shadow: 5px 8px 9px 8px rgb(67 48 48 / 64%);}
    .year button{
      border: none;
      background: #FF900E;
      border-radius: 8px;
      color: #ffff;
      width: 300px;
      height: 200px;
      border-radius: 8px;
  }
  .features-img{
    margin-right: 50px;
  }

  .year button h2{
    font-weight: 700;
font-size: 65px;
}
.year p{
  font-weight: 500;
  font-size: 25px;
  color: #FFFFFF;
}

.second-features-container{
  padding-left: 40px;
  width: 700px;}

  .second-features-container img{
    width: 100%;
  }
  .year{
    position: relative;
    bottom: 120px;
    margin-left: -80px;
  }